<%- include("partials/header") -%>
  
<link rel="icon"  href="public\images\favicon (5).ico">
<section id="title">
  <div class="container" style="padding-bottom: 150px;">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h1 class="font">Bringing together people with the force of code </h1>
        <p class="para">Being a part of the 21st century with innumerable new technologies floating in everyday, we feel its equally vital to diversify our knowledge to the people who have less recognition in the society.</p>
      </div>
     
      <div class="col-lg-6 col-sm-12">
        <img src="images/diversity.png" alt="" class="phoneimg">
    </div>
</section>
<div id="wrapper">

  <div class="container">
      <div class="navbar">
      

      </div>

      <div class="hero-section">

         
      </div> 
  </div>

  <div class="project-section" id="projects">
      <h2 class="page-header">Free Resources</h2>

      <div class="project-container">
          <div class="project-card" id="project1">
              <div class="project-number project-number-right">01</div>
              <div class="project-content project-content-left">

                  <div class="project-skills-container">
                     
                  </div>

                  <h2 class="project-heading">Data Structure & Algo</h2>

                  <p class="project-subHeading">
                  </p>
                  <div class="btn-grp" >
                    <a href="https://nptel.ac.in/courses/106102064">
                      <button class="btn-pink btn-project">Enroll Now</button>

                    </a>
                      <a href="">
                      <!-- <i title="GitHubLink" class="fa-brands fa-github icon"></i> -->
                      </a>
                      <a href="">
                      <!-- <i title="Live Link" class="fa-solid fa-link icon"></i> -->
                      </a>
                  </div>
              </div>
          </div>

          <div class="project-card" id="project2">
            <div class="project-number project-number-left">02</div>
            <div class="project-content project-content-right">
              <div class="project-skill-container">
              
              </div>
              <h2 class="project-heading">Web & App Dev</h2>
              <p class="project-sub-heading">
               
              </p>
              <div class="btn-group">
                <a href="https://nptel.ac.in/courses/106106156">

                  <button class="btn-pink btn-project">Enroll Now</button>
                </a>
                <a href="">
                  <!-- <i title="GitHubLink" class="fa-brands fa-github icon"></i> -->
                </a>
                <a href="">
                  <!-- <i title="Live Link" class="fa-solid fa-link icon"></i> -->
                </a>
              </div>
            </div>
          </div>
    
          <div class="project-card" id="project3">
            <div class="project-number project-number-right">03</div>
            <div class="project-content project-content-left">
              <div class="project-skill-container">
               
              </div>
    
              <h2 class="project-heading">Graphic Design</h2>
              <p class="project-sub-heading">
               
              </p>
              <div class="btn-group">
                <a href="https://onlinecourses.nptel.ac.in/noc21_me128/preview">
                  <button class="btn-pink btn-project">Enroll Now</button>

                </a>
                <a href="">
                  <!-- <i title="GitHubLink" class="fa-brands fa-github icon"></i> -->
                </a>
                <a href="">
                  <!-- <i title="Live Link" class="fa-solid fa-link icon"></i> -->
                </a>
              </div>
            </div>
          </div>
    
          <div class="project-card" id="project4">
            <div class="project-number project-number-left">04</div>
            <div class="project-content project-content-right">
              <div class="project-skill-container">
             
              </div>
              <h2 class="project-heading">ML & AI</h2>
              <p class="project-sub-heading">
               
              </p>
              <div class="btn-group">
                <a href="https://nptel.ac.in/courses/106106139">
                  <button class="btn-pink btn-project">Enroll Now</button>

                </a>
                <a href="">
                  <!-- <i title="GitHubLink" class="fa-brands fa-github icon"></i> -->
                </a>
                <a href="">
                  <!-- <i title="Live Link" class="fa-solid fa-link icon"></i> -->
                </a>
              </div>
            </div>
          </div>
      </div>

  </div>
  
 
    </div>
  
  
  
  </div> -->



    </div>
  </div> -->



</div>
 <!-- <%- include("partials/footer") -%> -->